<!-- VERSIÓN DE PC -->
<div id="desktopCarousel">
    <div
        id="carouselDesktop"
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-touch="true"
    >
        <div class="carousel-inner">
            <!-- Video como primer elemento -->
            <div class="carousel-item active" style="height: 90vh">
                <div class="set-three" style="height: 100%; position: relative; overflow: hidden;">
                    <video autoplay loop muted playsinline class="video-bg">
                        <source src="/videos/WEB-WS.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            
            <!-- Carrusel de imágenes -->
            <div class="carousel-item" style="height: 90vh">
                <div class="set-three" style="height: 100%">
                    <div>
                        <img class="c-img" src="<%=Carrusel[0].image%>" alt="" />
                    </div>
                    <div class="photo-container">
                        <img class="c-img" src="<%=Carrusel[0].image2%>" alt="" />
                    </div>
                    <div class="photo-container">
                        <img class="c-img" src="<%=Carrusel[0].image3%>" alt="" />
                    </div>
                </div>
            </div>
            
            <div class="carousel-item" style="height: 90vh">
                <div class="set-three" style="height: 100%">
                    <div>
                        <img class="c-img" src="<%=Carrusel[0].image4%>" alt="" />
                    </div>
                    <div class="photo-container">
                        <img class="c-img" src="<%=Carrusel[0].image5%>" alt="" />
                    </div>
                    <div class="photo-container">
                        <img class="c-img" src="<%=Carrusel[0].image6%>" alt="" />
                    </div>
                </div>
            </div>
            
            <div class="carousel-item" style="height: 90vh">
                <div class="set-three" style="height: 100%">
                    <div>
                        <img class="c-img" src="<%=Carrusel[0].image7%>" alt="" />
                    </div>
                    <div class="photo-container">
                        <img class="c-img" src="<%=Carrusel[0].image8%>" alt="" />
                    </div>
                    <div class="photo-container">
                        <img class="c-img" src="<%=Carrusel[0].image9%>" alt="" />
                    </div>
                </div>
            </div>
            
            <div class="carousel-item" style="height: 90vh">
                <div class="set-three" style="height: 100%">
                    <div>
                        <img class="c-img" src="<%=Carrusel[0].image10%>" alt="" />
                    </div>
                    <div class="photo-container">
                        <img class="c-img" src="<%=Carrusel[0].image11%>" alt="" />
                    </div>
                    <div class="photo-container">
                        <img class="c-img" src="<%=Carrusel[0].image12%>" alt="" />
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Controles del carrusel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDesktop" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselDesktop" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<style>
    .video-bg {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Recorta el video para llenar el contenedor sin deformarlo */
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
